<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    {{/*<script type="text/javascript" src="./static/vendor.bundle.js"></script>*/}}
    {{/*<script type="text/javascript" src="./static/client.js"></script>*/}}
    {{/*<link rel="stylesheet" href="./static/styles.css" type="text/css">*/}}

    <script type="text/javascript" src="http://localhost:3000/vendor.bundle.js"></script>
    <script type="text/javascript" src="http://localhost:3000/client.js"></script>

    <script type="text/javascript">
        $(function() {
            QcmdClientEntryPoint.init("root", "{{ .ApiUrl }}", {{ .InitialCommands }}, {{ .AllTags }});
        })
    </script>

</head>
<body>
    <div id="root"></div>
</body>
</html>